<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Script/easyui/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px">@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</div>

    <div class="easyui-accordion" data-options="region:'west',split:false" style="width:240px;">
        <div title="About" data-options="selected:true" style="padding:10px;">
            <ul class="easyui-tree">
                <li>
                    <span>My Documents</span>
                    <ul>
                        <li data-options="state:'closed'">
                            <span>Photos</span>
                            <ul>
                                <li>
                                    <span>Friend</span>
                                </li>
                                <li>
                                    <span>Wife</span>
                                </li>
                                <li>
                                    <span>Company</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>Program Files</span>
                            <ul>
                                <li>Intel</li>
                                <li>Java</li>
                                <li>Microsoft Office</li>
                                <li>Games</li>
                            </ul>
                        </li>
                        <li>index.html</li>
                        <li>about.html</li>
                        <li>welcome.html</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div title="Title1" style="padding:10px">
            <p>Content1</p>
        </div>
        <div title="Title2" style="padding:10px">
            <p>Content2</p>
        </div>
    </div>
    <div data-options="region:'center'">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Script/easyui/js")
    @RenderSection("scripts", required: false)
</body>
</html>