<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Script/easyui/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Script/easyui/js")

</head>

<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:60px;">
        <div class="easyui-layout" data-options="fit:true">
            <div id="quick_menu" data-options="region:'east',false:true,border:false" style="width:700px;line-height:60px;text-align:right;padding-right:20px;">
                <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true"><span class="title">商品信息</span></a>
                <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true"><span class="title">产品结构</span></a>
                <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true"><span class="title">生产进度查询</span></a>
                <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true"><span class="title">生产日报表</span></a>
                <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true"><span class="title">生产用料统计</span></a>
                <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true"><span class="title">库存查询</span></a>
                <a href="/Help/Index" target="_blank" class="easyui-linkbutton" data-options="plain:true">API</a>
                <a href="javascript:;" class="easyui-menubutton" data-options="plain:true,menu:'#user_menu'">用户：admin</a>
                
                <div id="user_menu" style="width:150px;">
                    <div data-options="iconCls:'icon-man'"><a href="javascript:;">我的资料</a> </div>
                    <div><a href="javascript:;">消息</a></div>
                    <div data-options="iconCls:'icon-reload'"><a href="javascript:;">切换用户</a></div>
                    <div data-options="iconCls:'icon-undo'"><a href="javascript:;">登出</a></div>
                </div>
               
            </div>
            <div data-options="region:'center',border:false,split:false" style="line-height:60px;padding-left:20px;">
                <h1 style="margin:0px;height:60px;">进销存ERP系统 <small>(B/S版)</small> </h1>
            </div>
        </div>
        
    </div>

    <div class="easyui-accordion" data-options="region:'west',split:false,border:false" style="width:240px;">
        <div title="功能模块" data-options="selected:true" style="">
            <ul class="my-menu-tree">
                @{
                    if (ViewBag.Menu != null)
                    {
                        foreach (var m in ViewBag.Menu)
                        {
                            <li>
                                <a href="@m.Url">
                                    <img class="icon" src="@m.Icon" />
                                    <span class="title">@m.Name</span>
                                </a>
                            </li>
                        }
                    }
                }
                
            </ul>
        </div>
    </div>
    <div class="easyui-tabs" id="module_tabs" data-options="region:'center'">
        <div title="生产模块" data-options="href:'/Home/Modules'" style="padding:10px">
           @RenderBody()
        </div>
    </div>

    <div data-options="region:'south',split:false" style="height:50px;text-align:center;padding-top:10px;">
        <p style="margin:0px;">公司信息</p>
        <p style="margin:0px;">资质</p>
    </div>
    <script>
        $('#quick_menu').on('click', 'a', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var title = $(this).find('.title').text();
            var tab = $('#module_tabs').tabs('getTab', title);
            if (tab) {
                $('#module_tabs').tabs('select', title);
                tab.panel('refresh', url);
            }
            else {
                $('#module_tabs').tabs('add', {
                    title: title,
                    selected: true,
                    closable: true,
                    href: url
                });
            }
            return false;
        });
        $('#module_tabs').on('click', '.module-menu a', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var title = $(this).find('.title').text();
            var tab = $('#module_tabs').tabs('getTab',title);
            if (tab) {
                $('#module_tabs').tabs('select', title);
                tab.panel('refresh', url);
            }
            else {
                $('#module_tabs').tabs('add', {
                    title: title,
                    selected: true,
                    closable:true,
                    href: url
                });
            }
            return false;
        });

        $('.my-menu-tree').on('click', 'a', function (e) {
            e.preventDefault();
            $('.my-menu-tree li').removeClass('selected');
            $(this).parent().addClass('selected');
            var url = $(this).attr('href');
            var title = $(this).find('.title').text();
            var tab = $('#module_tabs').tabs('getTab', 0);
            if (tab) {
                $('#module_tabs').tabs('select', 0);
                $('#module_tabs').tabs('update', {
                    tab: tab,
                    options: {
                        title: title,
                        href: url  // the new content URL
                    }
                });
                tab.panel('refresh', url);
            }
            else {
                $('#module_tabs').tabs('add', {
                    title: title,
                    selected: true,
                    href: url
                });
            }
            return false;
        });
        var init = function () {
            $('.my-menu-tree li').removeClass('selected');
            
            var first = $('.my-menu-tree a').eq(0);
            first.parent().addClass('selected');
            var url = first.attr('href');
            var title = first.find('.title').text();
            //console.log(url);
            var tab = $('#module_tabs').tabs('getTab', 0);
            //console.log(tab);
            if (tab) {
                $('#module_tabs').tabs('select', 0);
                $('#module_tabs').tabs('update', {
                    tab: tab,
                    options: {
                        title: title,
                        href: url  // the new content URL
                    }
                });
                tab.panel('refresh', url);
            }
            else {
                $('#module_tabs').tabs('add', {
                    title: title,
                    selected: true,
                    href: url
                });
            }
        };
        $(document).ready(function () {
            init();
        });
        
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>